.wrap-size {
    display: grid;
    grid-template-columns: repeat(4, 40px); 
    grid-column-gap: 10px; 
  }
  
  .item-radio input[type="radio"] {
    display: none;
  }
  
  .item-radio label {
    display: flex;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
  
  .item-radio input[type="radio"]:checked + label {
    background-color: #ed1c24;
    color: white;
    border: 1px solid #ed1c24;

  }
  .item-radio {
    
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* Show.css */

.quantity {
  margin-top: 20px;
}

.quantity p {
  margin-bottom: 5px;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  /* background-color: #f0f0f0; */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.quantity-button:hover {
  background-color: #d0d0d0;
}

.quantity-button:active {
  background-color: #b0b0b0;
}

.quantity-input {
  width: 50px;
  height: 30px;
  padding: 0 10px;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  text-align: center;
  font-size: 25px;
  outline: none;
}

.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-input[type="number"] {
  -moz-appearance: textfield;
}